---
// Use this to pre-render on per page basis
export const prerender = true

import Layout from '@/layouts/Layout.astro'
---

<Layout title="Careers at LaunchFa.st - Launch your apps in hours with this Astro boilerplate">
  <div class="relative mx-auto flex max-w-7xl flex-col px-8 py-8">
    <h1 class="pb-6 text-3xl font-medium text-launchfast">Join Our Team</h1>
    <p>
      Thank you for expressing your interest in becoming a part of our team.<br /><br />Currently, all of our positions are occupied, and we are not actively accepting resumes at
      this time.<br /><br />Our approach to hiring is deliberate and thoughtful as we aim to build a focused and efficient team.<br /><br />Consequently, our job postings are
      infrequent. However, this pace of hiring should not be misconstrued as a reflection of our work pace. We pride ourselves on delivering work that is both considerate and
      speedy.<br /><br />We are hopeful that we will have an opportunity for you in the near future.
    </p>
    <br />
  </div>
</Layout>
